<div id="footer">
	<% link_to "http://www.comune.piacenza.it/", :target => "_blank"  do %>
	<%= image_tag "footer/footer-comune-pc.png", :class => "img-responsive" %>
	<% end %>
	<%= image_tag "footer/footer-leto.png", :class => "img-responsive" %>
	<% link_to "http://www.lafondazione.com/", :target => "_blank"  do %>
	<%= image_tag "footer/footer-fondazione.png", :class => "img-responsive" %>
	<% end %>
</div>
