<div id="header" class="row">
  <div class="banner col-xs-12 col-sm-12 col-md-12">
    <% link_to "/" do %>
    <%= image_tag "banner.png", :class => "img-responsive" %>
    <% end %>
    <div class="title">Tendenze Festival<span>3.0</span></div>
    <div class="subtitle">
      <ul class="info">
        <li class="text">XXI Edizione</li>
        <li class="text">18-19-20 Settembre</li>
        <li class="text">Spazio 4 - Via Manzoni - Piacenza</li>
        <li class="first-icon">
          <% link_to "https://www.facebook.com/tendenzefestival" do %>
            <%= image_tag "fbook-icon.png" %>
          <% end %>
        </li>
        <li>
          <% link_to "https://www.youtube.com" do %>
            <%= image_tag "yt-icon.png" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="navigation">
      <ul>
        <li>Line Up</li>
        <li>Programma</li>
        <li>Expo</li>
        <li>Extra</li>
        <li>Foto</li>
        <li>Il Festival</li>
      </ul>
    </div>
  </div>
</div>
