<div id="header" class="row">
  <div class="banner col-xs-12 col-sm-12 col-md-12">
    <% link_to "/" do %>
    <%= image_tag "banner.png", :class => "img-responsive" %>
    <% end %>
    <div class="title">Tendenze Festival<span>3.0</span></div>
    <div class="subtitle">
      <ul class="info">
        <li>XXI Edizione</li>
        <li>18-19-20 Settembre</li>
        <li>Spazio 4 - Via Manzoni - Piacenza</li>
      </ul>
    </div>
    <div class="navigation">
      <ul>
        <li>Line Up</li>
        <li>Programma</li>
        <li>Expo</li>
        <li>Extra</li>
        <li>Foto</li>
        <li>Il Festival</li>
      </ul>
    </div>
  </div>
</div>
