<div id="header" class="row">
  <div class="banner col-xs-12 col-md-12">
  	<% link_to "/" do %>
    <%= image_tag "banner.png", :class => "img-responsive" %>
    <% end %>
    <div class="title">Tendenze Festival<span>3.0</span></div>
    <div class="subtitle">
      <ul class="info">
        <li>XXI Edizione</li>
        <li>18-19-20 Settembre</li>
        <li>Spazio 4 - Via Manzoni - Piacenza</li>
      </ul>
    </div>
  </div>
</div>
