<div class="yt-embed">
  <div class="videobox embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="<%= source %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
