@font-face {
  font-family: big-noodle;
  src: url('../fonts/big_noodle_titling.woff') format('woff');
}
@font-face {
  font-family: big-noodle;
  src: url('../fonts/big_noodle_titling_oblique.woff') format('woff');
  font-style: oblique;
}

@font-face {
  font-family: cabin-sketch;
  src: url('../fonts/CabinSketch-Regular.woff') format('woff');
}
@font-face {
  font-family: cabin-sketch;
  src: url('../fonts/CabinSketch-Bold.woff') format('woff');
  font-weight: bold;
}

/* --- GLOBAL TWEAKS --- */
body {
  background-color: #edd7a9;
}
/*.row { padding-bottom: 10px; }*/

/* --- HEADER --- */
#header .banner img {
  margin: 0 auto;
}

#header .title {
  font-family: big-noodle, Arial, sans-serif;
  line-height: 1;
  color: #3d3d3f;
  font-size: 100px;
  text-align: center;
}
#header .title span {
  position: relative;
  top: -1.1em;
  font-size: 40px;
}

#header .subtitle ul {
  margin-bottom: 0;
}

#header .subtitle .info {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
#header .subtitle .info li {
  display: inline-block;

}
#header .subtitle .info li+li:before {
  content: "| ";
}

#header .navigation {
  margin-left: -3000px;
  margin-right: -3000px;
  background-color: #f8b219;
}
#header .navigation ul {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
#header .navigation li {
  display: inline-block;
  padding: 3px 25px;
}

/* NEWS */
.news-container .news {
  margin-top: 15px;
}
.news-container .news .title {
  font-family: big-noodle, Arial, sans-serif;
  line-height: 1;
  font-size: 35px;
}
.news-container .news .date {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 17px;
}
.news-container .news .content {
  font-size: 15px;
}
