@font-face {
  font-family: big-noodle;
  src: url('../fonts/big_noodle_titling.woff') format('woff');
}
@font-face {
  font-family: big-noodle;
  src: url('../fonts/big_noodle_titling_oblique.woff') format('woff');
  font-style: oblique;
}

@font-face {
  font-family: cabin-sketch;
  src: url('../fonts/CabinSketch-Regular.woff') format('woff');
}
@font-face {
  font-family: cabin-sketch;
  src: url('../fonts/CabinSketch-Bold.woff') format('woff');
  font-weight: bold;
}

/* --- GLOBAL TWEAKS --- */
body {
  background-color: #edd7a9;
}

/* --- HEADER --- */
#header .banner .home-link img {
  margin: 0 auto;
}

#header .title {
  font-family: big-noodle, Arial, sans-serif;
  line-height: 1;
  color: #3d3d3f;
  font-size: 100px;
  text-align: center;
}
#header .title span {
  position: relative;
  top: -1.1em;
  font-size: 0.4em;
}
@media screen and (max-width: 650px) {
  #header .title {
    font-size: 80px;
  }
}
@media screen and (max-width: 515px) {
  #header .title {
    font-size: 70px;
  }
}
@media screen and (max-width: 460px) {
  #header .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 400px) {
  #header .title {
    font-size: 50px;
  }
}

#header .subtitle ul {
  margin-bottom: 0;
}
#header .subtitle .info {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
#header .subtitle .info li {
  display: inline-block;
}
#header .subtitle .info li.text+li.text:before {
  content: "| ";
}
#header .subtitle .info li.icon.first {
  padding-left: 5px;
}
@media screen and (max-width: 735px) {
  #header .subtitle .info li {
    display: block;
  }
  #header .subtitle .info li.text+li.text:before {
    content: none;
  }
  #header .subtitle .info li.icon {
    display: inline-block;
  }
  #header .subtitle .info li.icon.first {
    padding-left: 0px;
  }
}
@media screen and (max-width: 460px) {
  #header .subtitle .info{
    font-size: 20px;
  }
}

#header .navigation {
  background-color: #f8b219;
  margin-left: -10px;
  margin-right: -10px;
}
#header .navigation ul {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
#header .navigation li {
  display: inline-block;
  padding: 3px 25px;
}
@media screen and (min-width: 490px) and (max-width: 630px) {
  #header .navigation {
    padding: 0 75px;
  }
}

/* NEWS */
.news-container .news {
  margin-top: 15px;
}
.news-container .news .title {
  font-family: big-noodle, Arial, sans-serif;
  line-height: 1;
  font-size: 35px;
}
.news-container .news .date {
  font-family: big-noodle, Arial, sans-serif;
  font-size: 17px;
}
.news-container .news .content {
  font-size: 15px;
}
