<div id="home" class="row">
  <div class="news-container col-xs-12 col-sm-12 col-md-12">
    <div class="news">
      <div class="title">News</div>
      <div class="content"><%= lorem.sentences 5 %></div>
    </div>
  </div>
</div>
