---
title: Programma
---

<div id="program" class="row">
  <div class="program-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
    <div class="intro">
    La programmazione e gli orari delle esibizioni verranno pubblicati a breve.
    </div>
  </div>
</div>
