---
title: Rassegna Stampa
---

<div id="press" class="row">
  <div class="press-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
    <div class="articles row">
      <% data.rassegna.each do |r| %>
        <div class="article col-xs-12 col-sm-12 col-md-12">
          <div class="image">
            <% link_to "img/#{r.pdf}", :target => "_blank" do %>
              <%= image_tag r.image, :class => "img-responsive" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
